/* Fonts */
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Fira Sans Light'), local('FiraSans-Light'), url(/fonts/firasans-light.woff2) format('woff2'), url(/fonts/firasans-light.woff) format('woff');
}
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(/fonts/firasans-regular.woff2) format('woff2'), url(/fonts/firasans-regular.woff) format('woff');
}
@font-face {
	font-family: 'Fira Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Fira Sans Italic'), local('FiraSans-Italic'), url(/fonts/firasans-italic.woff2) format('woff2'), url(/fonts/firasans-italic.woff) format('woff');
}
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 500;
	src: local('Fira Sans Medium'), local('FiraSans-Medium'), url(/fonts/firasans-medium.woff2) format('woff2'), url(/fonts/firasans-medium.woff) format('woff');
}
@font-face {
	font-family: 'Gloria Hallelujah';
	font-style: normal;
	font-weight: 400;
	src: local('Gloria Hallelujah'), local('GloriaHallelujah'), url(/fonts/gloria-hallelujah.woff2) format('woff2'), url(/fonts/gloria-hallelujah.woff) format('woff');
}
/* Default */
* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	font-family: "Fira Sans", sans-serif;
	font-size: 100%;
	font-weight: 400;
	color: #000;
	background-color: #FAFAFA;
}